* {
    box-sizing: border-box;
    /* font-family: 'Jacques Francois Shadow', cursive; */
}   

#wrapper {
    height: 100%;   
    background-color: #E6E5E0;
    background-attachment: fixed;
    background-position-x: -300px;
    background-position-y: 200px;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
}

h1, h2, h3   {
    /* font-family: 'reeyregular'; */
    font-family: 'Jacques Francois Shadow', cursive;
    color: #F13C20;
    font-size: 3em;  
}

.container-fluid {
    z-index: 100;
    height: 500px;
    background-image: url("../images/banner2.png");
    width: 100%;
    background-size: cover;
    position: fixed;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-color: #ffffff;
    opacity: 97%;
    top: 20%;
    /* right: 50px; */
}

h4 {
    font-family: 'Jacques Francois Shadow', cursive;
    color: #4056A1;
    font-size: 3em;
}

.border {
    /* border: 4px solid black; */
    padding: 10px;
    margin-top: 10px;
}

#main-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 300px;
    /* background-color: #ffffff; */
}

.buttonRow button {
    height: 31%;
    width: 100%;
    position: relative;
    left: 20%;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.buttonRow {
    height: 300px;
    margin-right: 0px;
}

.card {
    width: fit-content;
    display: inline-block;
}

.card-text {
    overflow: wrap;
}

button, p, form, a {
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: .2em;
}

#musicButtons-container button {
    margin: 10px;   
}

#gif-container h4 {
    position: absolute;
    right: 20px;
    bottom: 0;
}

.card, form {
    margin: 10px;
}

.music-btn {
    background-color: #C5CBE3;
}

.music-btn:hover {
    color: #ffffff;
}